<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://sonarqube:9000
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>
      <servers>  
    <server>  
      <!-- this is the id of the repo tag specified in distributionManagement -->  
      <id>repo</id>  
      <username>root</username>  
      <password>password1</password>  
    </server>  
  </servers> 
</settings>