<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <properties>
        <project.scm.id>my-scm-server</project.scm.id>
    </properties>

    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://sonarqube:9000
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>

    <servers>
        <server>
            <!-- this is for github https-->
            <id>my-scm-server</id>
            <username>barrymatheney</username>
            <password>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</password>
        </server>
    </servers>
    
</settings>