<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <properties>
        <project.scm.id>my-scm-server</project.scm.id>
    </properties>

    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>
                  http://sonarqube:9000
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>
    <servers>
        <!-- this is the id of the repo tag specified in distributionManagement -->
        <id>sshrepo</id>
        <username>root</username>
        <password>password1</password>
        <server>
            <id>ssh-repository</id>
            <username>root</username>
            <privateKey>/root/.ssh/id_rsa</privateKey>            <!-- not needed if using pageant -->
        </server>
        <server>
            <!-- this is for github https-->
            <id>my-scm-server</id>
            <username>barrymatheney</username>
            <password>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</password>
        </server>
    </servers>
</servers>
</settings>